body {
    text-align: center;
    background-color: #8dc1da;
    color: #273b44;
}

h1 {
    font-family: Arial;
    font-weight: bold;
    color: #000000;
    font-size: 4em;
    margin-bottom: 0.5em;
}


label {
    color: #000000;
}

#mapa {
    height: 500px;
    width: 100%;
}