body {
    background-color: #000000;
    color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    color: #ffffff;
}

label {
    color: #FFFFFF;
}

h2 {
    color: #ffbf00;
}