h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 4em;
    font-weight: bold;
    color: #000000;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5em;
    color: #424947;
}

h3 {
    margin-left: 1.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.25em;
}

h4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: #3dca8f;
}

article div {
    margin-left: 1.7em;
}

button {
    margin-left: 1.7em;
}

article#transformarcoordenadas div.latlon{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

article#transformarcoordenadas div.utm{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

article#calculardistanciacoordenadas div {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

section {
    margin-left: 1.5em;
}