body {
    text-align: center;
    background-color: #8dc1da;
    color: #273b44;
}

h1 {
    font-family: Arial;
    font-weight: bold;
    color: #FFFFFF;
    margin: 0 auto;
    size: 7em;
}

#mapa {
    height: 500px;
    width: 100%;
}