
body {
    color: #ffffff;
    background-color: #540688;
    text-align: center;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffffff;
    font: 5em;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #b8e67d;
    font-style: italic;
    font: 3em;
}

canvas {
    width: 800px;
    height: 500px;
}