h1 {
    font: Verdana sans-serif 3em;
    text-align: center;
    padding: 1.5em;
}

h2 {
    font: Verdana sans-serif;
    font-size: small;
    font-style: italic;
    color: #FFFFFF;
    text-align: center;
}

label {
    color: #ffffff;
    display: none;
}

input {
    background-color: #99a078;
    height: 2.5em;
    width: 13.5em;
    margin: 1em;
}


article {
    padding: 0.3em;
    background-color: #3c7a99;
    border-radius: 1em;
    width: 15em;
    text-align: center;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
}

div {
    column-count: 4;
    column-gap: 1em;
    column-width: 2.5em;
    margin-left: auto;
    margin-right: auto;
    min-width: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-between;
}

div input {
    border-radius: 0.5em;
    height: 2em;
    width: 3em;
    min-width: fit-content;
    margin: 0.2em;
    background-color: #414446;
    color: #f5f5f5;
}

.operator {
    background-color: #f1dc63;
    color: #000000;
}

.opmanagement{
    background-color: #cc4641;
    color: #ffffff;
}

.digit {
    background-color: #9da2a5;
    color: #000000;
}