h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding: 1.5em;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

h2 {
    font-size: small;
    font-style: italic;
    text-align: center;
    color: #FFFFFF;
}

input {
    background-color: #719e65;
    height: 2.5em;
    width: 13.5em;
    margin: 1em;
}

label {
    color: #FFFFFF;
    display: none;
}

article {
    padding: 0.3em;
    background-color: #595b5c;
    border-radius: 1em;
    width: 15em;
    text-align: center;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
}

section {
    margin-top: 1.5em;
}


div {
    column-count: 4;
    column-gap: 1em;
    column-width: 2.5em;
    margin-left: auto;
    margin-right: auto;
    width: 10.4em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-between;
}

div input {
    height: 2em;
    width: 2.5em;
    background-color: #9da2a5;
    margin: 0.2em;
    color: #000000;
}

.operator {
    background-color: #36be91fa;
    color: #000000;
}

.opmanagement{
    background-color: #ec524c;
    color: #f5f5f5;
}