h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 4em;
    font-weight: bold;
    color: #46392b;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5em;
    color: #424947;
}

h3 {
    margin-left: 1.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.25em;
}

h4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: #3dca8f;
    text-align: center;
}

article div {
    margin-top: 2em;
    display: block;
}

label {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #000000;
    font-weight: bold;
    display: block;
}

button {
    align-self: center;
    margin: auto;
}